 <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:35%">Name</td>
      <td style="width:20%">Start</td>
      <td style="width:20%">End</td>
      <td style="width:25%">Sales %</td>
    </tr>
    <tr ng-repeat="season in seasons">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="season.name" e-name="name" e-form="rowform" onbeforesave="cSC.checkName(season.name, season.id)" e-required>
          {{ season.name || defaultseason }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-select="season.start" e-name="start" e-form="rowform" e-ng-options="s.value as s.text for s in monthlist">
          {{ showStart(season) }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-select="season.end" e-name="start" e-form="rowform" e-ng-options="s.value as s.text for s in monthlist">
          {{ showEnd(season) }}
        </span>
      </td>

      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="season.sales" e-name="name" e-form="rowform" e-required>
          {{ season.sales || 0 }}
        </span>
      </td>

      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveUser($data, season.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == season">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
        </div>
      </td>
    </tr>
  </table>
  <button class="btn btn-default" ng-click="addUser()">Add season</button>
